Node_red_flow.json
[
    {
        "id": "443a2036.a42ae",
        "type": "ui_form",
        "z": "369f7b9c.c6dd64",
        "name": "",
        "label": "",
        "group": "ed3c7cf3.d2e43",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Adult Morality Rate",
                "value": "adult",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Infant Deaths",
                "value": "infant",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Percentage Expenditure",
                "value": "percentexp",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Under five deaths",
                "value": "underfive",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total Expenditure",
                "value": "totalexp",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diptheria",
                "value": "dip",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness 1-19",
                "value": "thin1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness 5 - 9",
                "value": "thin2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income composition of resources",
                "value": "income",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "schooling",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis",
                "value": "hepatitis",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles",
                "value": "measles",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI",
                "value": "bmi",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV",
                "value": "hiv",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "gdp",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Popualation",
                "value": "population",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "alcohol",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "polio",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "adult": "",
            "infant": "",
            "percentexp": "",
            "underfive": "",
            "totalexp": "",
            "dip": "",
            "thin1": "",
            "thin2": "",
            "income": "",
            "schooling": "",
            "hepatitis": "",
            "measles": "",
            "bmi": "",
            "hiv": "",
            "gdp": "",
            "population": "",
            "alcohol": "",
            "polio": ""
        },
        "payload": "",
        "submit": "Predict",
        "cancel": "Cancel",
        "topic": "Predict Life Expectancy",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "188ced78.3a0c33"
            ]
        ]
    },
    {
        "id": "e71fd07b.ab5ab",
        "type": "ui_text",
        "z": "369f7b9c.c6dd64",
        "group": "28d52b40.e85354",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Prediction : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "188ced78.3a0c33",
        "type": "function",
        "z": "369f7b9c.c6dd64",
        "name": "pretoken",
        "func": "global.set(\"adult\",msg.payload.adult);\nglobal.set(\"infant\",msg.payload.infant);\nglobal.set(\"percentexp\",msg.payload.percentexp);\nglobal.set(\"underfive\",msg.payload.underfive);\nglobal.set(\"totalexp\",msg.payload.totalexp);\nglobal.set(\"dip\",msg.payload.dip);\nglobal.set(\"thin1\",msg.payload.thin1);\nglobal.set(\"thin2\",msg.payload.thin2);\nglobal.set(\"income\",msg.payload.income);\nglobal.set(\"schooling\",msg.payload.schooling);\nglobal.set(\"hepatitis\",msg.payload.hepatitis);\nglobal.set(\"measles\",msg.payload.measles);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"hiv\",msg.payload.hiv);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"population\",msg.payload.population);\nglobal.set(\"alcohol\",msg.payload.alcohol);\nglobal.set(\"polio\",msg.payload.polio);\n\n\nvar apikey = \"5jVk1jyke_b_b4lV4QR3EtdNeD3i49H-F49h_otCciz8\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey,\"dip\":msg.payload.dip,\"dip\":msg.payload.hiv};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "67272770.31d138",
                "75d959a1.cbd528"
            ]
        ]
    },
    {
        "id": "c867de70.20d17",
        "type": "function",
        "z": "369f7b9c.c6dd64",
        "name": "",
        "func": "var token=msg.payload.access_token;\nvar instance_id = \"32265a81-4310-4a0d-ac90-29b3fe842910\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n\n\nvar a = global.get(\"adult\");\nvar b = global.get(\"infant\");\nvar c = global.get(\"percentexp\");\nvar d = global.get(\"underfive\");\nvar e = global.get(\"totalexp\");\nvar f = global.get(\"dip\");\nvar g = global.get(\"thin1\");\nvar h = global.get(\"thin2\");\nvar i = global.get(\"income\");\nvar j = global.get(\"schooling\");\nvar k = global.get(\"hepatitis\");\nvar l = global.get(\"measles\");\nvar m = global.get(\"bmi\");\nvar n = global.get(\"hiv\");\nvar o = global.get(\"gdp\");\nvar p = global.get(\"population\");\nvar q = global.get(\"alcohol\");\nvar r = global.get(\"polio\");\n\nmsg.payload ={\n                \"fields\":[\"Adult Mortality\", \"infant deaths\",\n                        \"percentage expenditure\", \"under-five deaths \", \"Total expenditure\",\n                        \"Diphtheria \", \" thinness  1-19 years\", \" thinness 5-9 years\",\n                        \"Income composition of resources\", \"Schooling\", \"Hepatitis\", \"Measles \",\n                        \" BMI \", \" HIV\", \"GDP\", \"Population\", \"Alcohol\", \"Polio\"],\n                \"values\" :[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "f6ba44b3.ff19c8"
            ]
        ]
    },
    {
        "id": "67272770.31d138",
        "type": "http request",
        "z": "369f7b9c.c6dd64",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "c867de70.20d17"
            ]
        ]
    },
    {
        "id": "f6ba44b3.ff19c8",
        "type": "http request",
        "z": "369f7b9c.c6dd64",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v3/wml_instances/32265a81-4310-4a0d-ac90-29b3fe842910/deployments/cb66f7fc-d1c7-49f1-8ee5-4510ae678441/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "ba8afe56.751ff",
                "96e21774.487eb8"
            ]
        ]
    },
    {
        "id": "ba8afe56.751ff",
        "type": "function",
        "z": "369f7b9c.c6dd64",
        "name": "",
        "func": "var value=Math.round(msg.payload.values[0][0]);\nmsg.payload = value + \" years\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "e71fd07b.ab5ab",
                "e3dfc001.e61f1"
            ]
        ]
    },
    {
        "id": "75d959a1.cbd528",
        "type": "debug",
        "z": "369f7b9c.c6dd64",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "96e21774.487eb8",
        "type": "debug",
        "z": "369f7b9c.c6dd64",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "e3dfc001.e61f1",
        "type": "debug",
        "z": "369f7b9c.c6dd64",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "ed3c7cf3.d2e43",
        "type": "ui_group",
        "z": "",
        "name": "Predict Life Expectancy",
        "tab": "4d8f412a.33e58",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "28d52b40.e85354",
        "type": "ui_group",
        "z": "",
        "name": "Prediction",
        "tab": "4d8f412a.33e58",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4d8f412a.33e58",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
